body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1300px;
  background-image: url("https://as2.ftcdn.net/v2/jpg/02/75/39/31/1000_F_275393148_rBI0GjvrEsANBwyKh8FirePAY7ipEbTw.jpg");
  background-size: cover;
  background-position: fixed;
  background-attachment: fixed;
}

.holder {
  background-color: rgb(252, 246, 246); 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 650px;
}

h1, p {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #0ec83f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #127dd5;
}